
*.pbxproj

*.pbxproj

*.xcuserstate

7.Design-TearDowns/1-Stretchy-headers/1-Stretchy-headers.xcodeproj/project.pbxproj

7.Design-TearDowns/1-Stretchy-headers/1-Stretchy-headers.xcodeproj/project.xcworkspace/xcuserdata/MartinRGB.xcuserdatad/UserInterfaceState.xcuserstate

7.Design-TearDowns/2.Elasticdrawer/Drawer.xcodeproj/project.pbxproj

7.Design-TearDowns/2.Elasticdrawer/Drawer.xcodeproj/project.xcworkspace/xcuserdata/MartinRGB.xcuserdatad/UserInterfaceState.xcuserstate

7.Design-TearDowns/3.ZommingIcons/Zooming-Icons.xcodeproj/project.pbxproj

7.Design-TearDowns/3.ZommingIcons/Zooming-Icons.xcodeproj/project.xcworkspace/xcuserdata/MartinRGB.xcuserdatad/UserInterfaceState.xcuserstate
