<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drawer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E8AF6E81BB0F60500598E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8AF6FC1BB0F60500598E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8AF7071BB0F60500598E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
