<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift DWC－1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EEE03DA1BB69B2A009E9C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEE03EE1BB69B2A009E9C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEE03F91BB69B2A009E9C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
